<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUITutorials.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DB3B16726A2C3AF00CB8D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DB3B17826A2C3B100CB8D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DB3B18326A2C3B100CB8D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
